<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.test.store.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.test.store.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/jsp/UserServlet</url-pattern>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.test.store.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/jsp/IndexServlet</url-pattern>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.test.store.web.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/jsp/CategoryServlet</url-pattern>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.test.store.web.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/jsp/ProductServlet</url-pattern>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.test.store.web.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/jsp/CartServlet</url-pattern>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.test.store.web.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/jsp/OrderServlet</url-pattern>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>com.test.store.web.servlet.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PriviledgeFilter</display-name>
    <filter-name>PriviledgeFilter</filter-name>
    <filter-class>com.test.store.web.filter.PriviledgeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PriviledgeFilter</filter-name>
    <url-pattern>/jsp/cart.jsp</url-pattern>
    <url-pattern>/jsp/order_info.jsp</url-pattern>
    <url-pattern>/jsp/order_list.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <servlet-name>AdminProductServlet</servlet-name>
    <servlet-class>com.test.store.web.servlet.AdminProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductServlet</servlet-name>
    <url-pattern>/AdminProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AdminOrderServlet</servlet-name>
    <servlet-class>com.test.store.web.servlet.AdminOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderServlet</servlet-name>
    <url-pattern>/AdminOrderServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <servlet-class>com.test.store.web.servlet.ShoppingCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <url-pattern>/ShoppingCarServlet</url-pattern>
  </servlet-mapping>
</web-app>